{{ define "main" }} {{ $smallCaps := strings.ToLower .Params.parent }} {{$parent
:= absURL $smallCaps }}

<div class="content-page">
  <h2 class="catch_phrase">{{.Params.catch_phrase}}</h2>
  <h3 class="position">{{ .Params.position }}</h3>
  <p style="margin: 0px; font-style: italic; padding: 0px">
    {{ .Params.start_date }} - {{ .Params.end_date }}
  </p>
  <p style="margin: 0px; font-weight: bold; padding: 0px; margin: 16px 0px">
    <a class="company-tag" href="{{ .Params.link }}"> {{ .Params.company }}</a>
  </p>
  <div class="" style="flex-grow: 1">{{ .Content }}</div>
  <div
    style="
      font-weight: bold;
      padding: 0px;
      margin: 16px auto;
      width: fit-content;
    "
  >
    <a class="back-button" href="{{ $parent }}"> Back to {{.Params.parent}}</a>
  </div>
</div>
{{ end }}
