{{ define "main" }}
<div style="flex-grow: 1">
  <h1>{{ .Title}}</h1>
  {{ .Content }}
  <div class="flex flex-col">
    {{ range .Pages }}
    <div class="cv-item">
      <h3 style="margin-top: 8px">{{ .Title }}</h3>
      <div class="project-tags">
        {{ range .Params.tags }}
        <span class="project-tag">{{ . }}</span>
        {{ end }}
      </div>
      <p style="padding: 0px">
        {{ .Params.condensed }}
      </p>
      <div class="more-button-wrapper">
        <a class="more-button" href="{{ .Params.link }}">View on GitHub</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
