@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=M+PLUS+2:wght@100..900&display=swap");

$white: #ffffff;
$light: #f0edeaff;
$dark: #141111ff;

$primary: #ca9979ff;
$secondary: #535351ff;
$tertiary: #ad876eff;

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;

body {
    width: 60vw;
    min-height: 100vh;

    margin: 0 auto;

    background: $light;
    color: $dark;

    font-family: "M PLUS 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    hyphens: auto;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $screen-lg) {
        width: 66vw;
    }
    
    @media screen and (max-width: $screen-md)  {
        width: 95vw;
    }
}

div {
    margin: 4px;
}

a {
    color: unset !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Shrikhand", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.25em;
    color: $secondary;
}

h1 {
    font-size: 6em;

    text-decoration: underline 0.15em;
    text-decoration-color: $primary;

    @media screen and (max-width: $screen-lg) {
        font-size: 4em;
        margin-bottom: 0.4em;
        text-underline-offset: 2px;
        text-decoration: underline 0.3em;
        text-decoration-color: $primary;
    }
}

h2 {
    font-size: 4em;

    text-decoration: underline 0.15em;
    text-decoration-color: $tertiary;

    @media screen and (max-width: $screen-lg) {
        font-size: 3em;
        margin-bottom: 0.4em;
        text-underline-offset: 2px;
        text-decoration: underline 0.25em;
        text-decoration-color: $tertiary;hyphens: auto;
    }
}

p,
li {
    font-size: 1.15em;
    padding-left: 10%;
    padding-bottom: 24px;
    max-width: 1000px;
    margin: 0px auto;
}

blockquote {
    font-family: "Shrikhand", system-ui;
    color: $secondary;
    border: none;

    p {
        padding-left: 24px;
        text-decoration: underline 0.15em;
        text-decoration-color: $tertiary;
        max-width: 65%;

        @media screen and (max-width: $screen-lg) {
            max-width: 100%;
        }
    }
}

footer {
    padding: 2px 2px;
    font-size: 0.7em;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.header {
    justify-content: space-between;
    
    a {
        .header-item {
            padding: 8px;
            border-radius: 8px;
            border: 2px solid $primary;
            background-color: $light;
            color: $primary;
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;

            i {
                font-size: 1.4em;
            }

            &.no-border {
                border: none;

                i {
                    padding: 2px;
                }
            }

            &:hover {
                background-color: $primary;
                color: $white;
            }

            i {
                padding: 0px 4px;
            }
        }
    }
}

.flex-col-sm {
    @media screen and (max-width: $screen-lg) {
        flex-direction: column;
    }
}

.padding-top-sm {
    @media screen and (max-width: $screen-lg) {
        padding-top: 12px !important;
    }
}

.tags {
    margin: 8px 0px;
    justify-content: flex-start;

    a {
        div {
            padding: 8px;
            background-color: $secondary;
            color: #ffffff;
            border-radius: 8px;
            font-weight: 600;

            &:hover {
                background-color: $primary;
                color: $dark;
            }
        }
    }
}

.company-tag {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid $tertiary;
    color: $tertiary !important;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        background-color: $tertiary;
        color: $white !important;
    }
}

.profile-pic {
    width: 40%;
    height: auto;

    @media screen and (max-width: $screen-lg) {
        width: 100%;
    }
}

.about-page {
    p:has(img) {
        width: 70%;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.award-page {
    p:has(img) {
        width: fit-content;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.cv-item {
    border: $primary solid 4px;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0px;
    background-color: $light;
}

.more-button-wrapper {
    margin: 8px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.more-button {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid $primary;
    color: $primary !important;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        background-color: $primary;
        color: $white !important;
    }
}

.back-button {
    padding: 8px;
    background-color: $secondary;
    color: #ffffff !important;
    border-radius: 8px;
    font-weight: 600;

    &:hover {
        background-color: $primary;
        color: $dark;
    }
}

.content-page {
    .catch_phrase {
        font-size: 2em;
    }

    .position {
        font-size: 1.5em;
    }
}
