{{ define "main" }}

{{ $image := resources.Get "images/blob.png" }}
{{ $cv := absURL "cv" }}
{{ $awards := absURL "awards" }}
{{ $about := absURL "about" }}

<div class="flex flex-col-sm" id=" {{ $.Title }}" style="align-items: center; flex-grow: 1;">
    <img class="profile-pic" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
    <div style="height: fit-content; margin-bottom: 5em;">
        {{ .Content }}
        <div class="flex tags">
            <a href="{{ $cv }}"><div class="header-item">CV</div></a>
            <a href="{{ $awards }}"><div class="header-item">Awards</div></a>
            <a href="{{ $about }}"><div class="header-item">About</div></a>
        </div>
    </div>
</div>
{{ end }}