{{ define "main" }}

{{ $image := resources.Get "images/blob.png" }}
{{ $cv := absURL "cv" }}
{{ $awards := absURL "awards" }}
{{ $projects := absURL "projects" }}
{{ $about := absURL "about" }}

<div class="flex flex-col-sm" id=" {{ $.Title }}" style="align-items: center; flex-grow: 1;">
    <img class="profile-pic" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
    <div style="height: fit-content; margin-bottom: 2em;">
        {{ .Content }}
        <div class="flex tags">
            <a href="{{ $cv }}"><div class="header-item">CV</div></a>
            <a href="{{ $awards }}"><div class="header-item">Awards</div></a>
            <a href="{{ $projects }}"><div class="header-item">Projects</div></a>
            <a href="{{ $about }}"><div class="header-item">About</div></a>
        </div>
    </div>
</div>

<div class="contact-section">
    <h2>Get in Touch</h2>
    <p style="padding-left: 0px">
        <a href="https://www.linkedin.com/in/val%C3%A9rie-redl-96900a365" class="contact-link"><i class="fa fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/valerfisch" class="contact-link"><i class="fa fa-github"></i> GitHub</a>
    </p>
</div>

{{ end }}
