{{ $cv := absURL "cv" }}
{{ $awards := absURL "awards" }}
{{ $about := absURL "about" }}

<div class="flex header">
    <div class="flex">
        <a href="{{.Site.BaseURL}}"><div class="header-item no-border"><i class="glyphicon glyphicon-home"></i></div></a>
        <a href="{{$cv}}"><div class="header-item">CV</div></a>
        <a href="{{ $awards}}"><div class="header-item">Awards</div></a>
    </div>
    <div class="flex">
        <a href="{{ $about }}"><div class="header-item">About</div></a>
        <a href="https://github.com/valerfisch"><div class="header-item no-border"><i class="fa fa-github"></i></div></a>
    </div>
</div>

  