<html>
  <head>
    <meta charset="utf-8" />
    {{ if isset .Params "title" }}
    <title>{{ .Params.title }}</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }} {{ $style := resources.Get "sass/main.scss" | css.Sass |
    resources.Minify }} {{ partial "google-fonts" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
</html>
